.footer {
  bottom: 0;
  height: auto;
  padding: 10px 0;
  width: 100%;
  vertical-align: bottom;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover, active {
  color: #000000;
}
