.portfolio {
  display: table;
  margin: 0 auto;
  -webkit-animation: fade-in 2.5s; /* Safari, Chrome and Opera */
  -moz-animation: fade-in 2.5s; /* Firefox */
  -ms-animation: fade-in 2.5s; /* Internet Explorer */
  animation: fade-in 2.5s;
}

.portfolio ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

.portfolio li {
  width: 60%;
  padding: 25px;
  background: #f5f5f5;
  margin: 20px auto;
  text-align: left;
}

.portfolio img {
  display: block;
  width: 75%;
  height: auto;
  margin: 0 auto;
}

/* desktop */
@media only screen and (max-width: 992px) {
  .portfolio li {
    width: 95%;
  }

  .portfolio img {
    width: 90%;
  }
}