.portfolio {
  display: table;
  width: 100%;
  margin: 0 auto;
  opacity: 0.8;
  -webkit-animation: fade-in-light 2.5s; /* Safari, Chrome and Opera */
  -moz-animation: fade-in-light 2.5s; /* Firefox */
  -ms-animation: fade-in-light 2.5s; /* Internet Explorer */
  animation: fade-in-light 2.5s;
}

.portfolio ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

.portfolio li {
  width: 60%;
  padding: 25px;
  margin: 25px auto;
  text-align: left;
  background: black;
  border-radius: 20px;
}

.portfolio img {
  display: block;
  width: 75%;
  height: auto;
  margin: 0 auto;
  border-radius: 20px;
}

/* desktop */
@media only screen and (max-width: 992px) {
  .portfolio ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .portfolio li {
    width: 98%;
    padding: 10px;
  }

  .portfolio img {
    width: 90%;
  }
}