.nav-bar {
  vertical-align: top;
  width: 100%;
  padding: 15px 0;
  opacity: 0.7;
  background: black;
}

.nav-bar a {
  color: #b1791e;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  -webkit-transition: border 500ms ease;
  -moz-transition: border 500ms ease;
  -ms-transition: border 500ms ease;
  -o-transition: border 500ms ease;
  transition: border 500ms ease;
}

.nav-bar a:focus {
  color: #b1791e;
  border-bottom: 1px solid #b1791e;
}

.nav-bar a:hover, active {
  color: #b1791e;
  border-bottom: 1px solid #b1791e;
}