.about {
  width: 60%;
  padding: 50px;
  margin: 0 auto;
  opacity: 0.8;
  background: black;
  border-radius: 20px;
  -webkit-animation: fade-in-light 2.5s; /* Safari, Chrome and Opera */
  -moz-animation: fade-in-light 2.5s; /* Firefox */
  -ms-animation: fade-in-light 2.5s; /* Internet Explorer */
  animation: fade-in-light 2.5s;
}

/* .about a:hover, a:active, a:focus {
  color: #eed67a;
} */

.about .align-left {
  text-align: left;
}

.about .avatar {
  width: 250px;
  height: 250px;
  padding: 20px;
  margin: auto;
  /* animation: pulse 4s infinite;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse; */
}

/* desktop */
@media only screen and (max-width: 992px) {
  .about {
    width: 95%;
    padding: 10px;
  }
}

