* {
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.main-container {
  margin:0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
}

.navigation-container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.content {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-top: 1px solid lightgray;
}
