* {
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.main-container {
  margin:0;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.navigation-container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
