* {
  font-family: 'MS Gothic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: lighter;
  letter-spacing: 4px;
}

h1, h2, h3, h4, h5, h6 {
  color: #eed67a;
  text-shadow: 2px 2px #a934ef;
  text-outline: 2px 2px #ff0000;
  letter-spacing: 4px;
}

h1 {
  text-decoration: underline;
}

h1 span {
  padding: 10px;
  background-color: rgba(192, 192, 192, 0.25);
}

body {
  width: 100wh;
  height: 100vh;
  background: linear-gradient(-45deg, #FF6AD5, #C774E8, #AD8CFF, #8795E8, #94D0FF, #94D0FF);
  background-size: 400% 400%;
  color: #fff;
  -webkit-animation: gradient 10s ease infinite;
  -moz-animation: gradient 10s ease infinite;
  animation: gradient 10s ease infinite;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  -webkit-animation: fade-in 2.5s; /* Safari, Chrome and Opera */
  -moz-animation: fade-in 2.5s; /* Firefox */
  -ms-animation: fade-in 2.5s; /* Internet Explorer */
  animation: fade-in 2.5s;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: rgba(192, 192, 192, 0.15);
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  float: left;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  /* border-top: 1px solid lightgray;
  background-color: rgba(192, 192, 192, 0.25); */
}

.float-left {
  float: left;
  padding-left: 15px;
}

.float-right {
  float: right;
  padding-right: 15px;
}

/* fonts */
@font-face {
    font-family: Sackers Gothic Light AT;
    src: url("../fonts/SackersGothicLightAT.woff") format("woff"),
         url("../fonts/SackersGothicLightAT.ttf")  format("truetype");
}

/* animations */
@-webkit-keyframes gradient {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

@-moz-keyframes gradient {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

@keyframes gradient {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.1); }
  100% { -webkit-transform: scale(1); }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

